:root {
  --base: #354556;
  --blue: #0068DA;
  --white: #FFFFFF;
  --gray: #7F8893;
  --dark-gray: #354556;
  --line-gray: #DCDEE0;
  --bg-blue: #0973BA;
  --bg-light-gray: #F3F4FA;
  --shadow: rgba(5, 27, 43, 0.14);
}

$mobile: 767px;
$desktop: 1260px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
